<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SOAP API Testing">
	<test thread-count="5" name="Actors and Customers">
		<classes>
			<class
				name="com.trainingserver.soapservices.TestSoapService_Actors" />
			<class
				name="com.trainingserver.soapservices.TestSoapService_Customers" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
